/* d언어설정 */
@charset "utf-8";

/* BOX 가로정렬
.BOX {display: flex;}
.boxA {width: 20%;}
.boxB {width: 80%;}

/* box4 가로정렬
.box4 {display: flex;}
.box4>div {flex: 1;} */

/* box5 가로정렬
.box5 {display: flex;}
.box5-1 {width: 70%;}
.box5-2 {width: 30%;} */



/* boxA,A-2 가로정렬 */
.boxA {width: 20%; float: left;}
.boxA-2 {width: 80%; float: left;}
.wrap::after {content: ""; clear: both; display: block;}

/* boxC 가로정렬 */
.box3 {width: 33.3333%; float: left;}
.box4 {width: 33.3333%; float: left;}
.box5 {width: 33.3333%; float: left;}
.boxC::after {content: ""; clear: both; display: block;}

/* boxD 가로정렬 */
.box6 {width: 80%; float: left;}
.box7 {width: 20%; float: left;}
.boxD::after {content: ""; clear: both; display: block;}