@charset 'utf-8';

/* box1,2의 가로정렬 */
.box1 {float: left; width: 20%;}
.box2 {float: left; width: 80%;}
.boxA::after {content: ""; clear: both; display: block;}

/* boxB 설정없음 */

/* box3,4,5의 가로정렬 */
.box3 {float: left; width: 33.3333%;}
.box4 {float: left; width: 33.3333%;}
.box5 {float: left; width: 33.3333%;}
.boxC::after {content: ""; display: block; clear: both;}

/* box6,7의 가로정렬 */
.box6 {float: left; width: 20%;}
.box7 {float: left; width: 80%;}
.boxD::after {content: ""; display: block; clear: both;}






/* 개인연습 */

/* box1 가로정렬 */
/* .box1-1 {float: left; width: 20%;}
.box1-2 {float: left; width: 80%;}
.box1::after {display: block; clear: both; content: "";} */

/* box3 가로정렬 */
/* .box3-1 {float: left; width: 33.3333%; font-size: 30px;}
.box3-2 {float: left; width: 33.3333%;}
.box3-3 {float: left; width: 33.3333%;}
.box3::after{display: block; clear: both; content: "";} */

/* box4 가로정렬 */
/* .box4-1 {float: left; width: 20%;}
.box4-2 {float: left; width: 80%;}
.box4::after{display: block; clear: both; content: "";} */