@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    vertical-align: bottom;
    border: none;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 120px;
    align-items: center;
}
header.on {
    position: fixed;
    top: 0;
}

nav {
    width: 70%;
}
h1 {
    width: 30%;
    text-align: center;
}


nav ul {
    display: flex;
    justify-content: center;
}
nav li {
    width: 20%;
    cursor: pointer;
}


.subMenu {
    display: none;
}
.skillMenu {
    display: none;
}

section {
    width: 100%;
}
article {
    height: 800px;
}
article:nth-child(1) {
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}
article:nth-child(2) {
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
}
article:nth-child(3) {
    background-color: lightcyan;
    left: -100%;
    top: 100%;
}
article:nth-child(4) {
    background-color: lavender;
    left: 100%;
    top: 100%;
}

article:nth-child(2) span {
    position: absolute;
}
article:nth-child(2)>div {
    width: 200px;
    height: 600px;
    box-shadow: 2px 2px 5px #000;
    margin: 0 30px;
}
article:nth-child(2)>div:hover {
    box-shadow: 1px 1px 2px #000;
}


.txt {
    position: fixed;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    right: 0;
    top: 30%;
    padding: 10px;
}