/* language setting */
@charset 'utf-8';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* body set */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h2, h1 {
    font-family: 'Secular One', sans-serif;
}

/* header set */
header {
    display: flex;
    background-color: #333;
    padding: 16px;
    position: relative;
}

.logo {
    font-family: 'Secular One', sans-serif;
    color: #fff;
    font-size: 26px;
    transition: all 0.6s;
}
.nav {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
}
.gnb {display: flex;}
.gnb li {
    margin-right: 20px;
}
.gnb li a {
    font-family: 'Secular One', sans-serif;
    color: #fff;
    font-size: 26px;
    letter-spacing: -2px;
    transition: all 0.6s;
}
.logo:hover {
    color: rgb(82, 82, 249);
}
.gnb li a:hover {
    color: rgb(82, 82, 249);
}

/* main set */
#main {
    background-image: url(/images/hero.jpg);
    height: 900px;
    width: auto;
}
#main h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    padding-top: 250px;
}
.date {
    font-family: 'Secular One', sans-serif;
    border-top: #000 solid 4px;
    border-bottom: #000 solid 4px;
    font-size: 40px;
    margin: 10px 0;
    padding: 20px 0;}
#main p {
    text-align: center;
}
#about img {
    width: auto;
}
/* section set */
#about {}
#about h2 {}

/* ----------media query---------- */
@media (min-width:1140px) {
    section, footer, h2, p {
        width: 900px;
        margin: 0 auto;
    }
}